@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    --primary: #1E71E3;
    --secondary: #3897F1;
    --cWhite: #fff;
    --cBlack: #191919;
    --cIceWhite: #F5F7F8;
}

nav > div {
    padding: 10px 0;
    height: 35px;
    background-color: #11141a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-group {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-group > .primary-btn {
    font-size: 0.8rem;
}

.primary-btn {
    /* background-color: #3796f0; */
    background: linear-gradient(to right, #3796f0, #50a4f3);
    color: var(--cWhite);
    border-radius: 16px; 
    padding: 6px 16px;
    font-size: 0.9rem;
    z-index: 99;
}

a {
    text-decoration: none;
}

.secondary-btn {
    color: var(--cWhite);
    border: 1px solid --cWhite;
    font-weight: 600;
    border-radius: 16px; 
    padding: 6px 16px;
    font-size: 0.8em;
}

.secondary-btn:hover {
    background-color: var(--cWhite);
    color: #080a0e;
    transition-duration: 1s;
    /* transition-property: background-color; */
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.section1 {
    /* background: radial-gradient(#06070a, #03101a); */
    background: radial-gradient(circle farthest-corner at 70% 10%, #0c0f16 23%, #003c5f 50%) top right / 200% 200%;;
    color: var(--cWhite);
    font-weight: 500;
    padding-top: 80px;
    height: 80vh;
    overflow: hidden;
}

.box-s1 {
    margin: auto;
    margin-top: 60px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}   

.box-s1 > h1 {
    color: var(--cWhite);
    font-weight: bold;
    font-size: 42px;
}

.box-s1 > p {
    font-size: 20px;
}

.main-img > img {
    width: 70%;
    filter: blur(0.7px);
    margin-top: -70px;
}

/* .secondary-imgs {
    z-index: 99999;

} */

.em-text {
    color: var(--primary);
    font-weight: 500;
    font-size: 1.2rem;
}

.section2 {
    background-color: var(--cWhite);
    color: var(--cBlack);
    padding: 80px 50px;
    width: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 15%;
}

.steps-list {
    background-color: red;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.steps-list > ol > li > a{
    color: black;
    height: 469px;
}

.box-s2 {
    width: 30%;
    height: fit-content;
}

.box-s2 > p {
    font-weight: 400;
}

.section3 {
    background-color: var(--cIceWhite);
    text-align: center;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.box-s3 {
    width: 100%;
}

.box-s3 > h1 {
    font-size: 2.5rem;
    color: var(--cBlack); 
    margin: 20px;
}

#integracoes {
    padding: 20px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;    
}

#integracoes > .card {
    background-color: var(--cWhite);    
    width: 250px;
    /* height: 25%; */
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 4px 40px #00000015;
    text-align: center;
    flex: 0 0 calc((100% - 4rem) / 3);
    box-sizing: border-box;
}

.card > img {
    max-width: 220px;
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.card > p {
    font-size: 0.9rem;
    margin: 10px;
}

.section4 {
    background: linear-gradient(to bottom, rgba(12, 11, 23, 1) 0%, rgba(9, 37, 74, 1) 100%);
    padding: 50px;
}

.box1-s4 {
    padding: 50px;
    border: solid 1px #ffffff20;
    border-radius: 16px;
    color: var(--cWhite);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    height: 300px;
}

.box1-s4 > div > ul > li {
    list-style-type: "";
}