@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    --primary: #1E71E3;
    --secondary: #3897F1;
    --cWhite: #fff;
    --cBlack: #191919;
    --cIceWhite: #F5F7F8;
    font-family: 'Raleway', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
}

nav > .box-header {
    padding: 10px;
    background-color: #11141a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.box-header > img {
    width: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.btn-group {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-group > .primary-btn {
    font-size: 0.8rem;
}

.primary-btn {
    /* background-color: #3796f0; */
    background: linear-gradient(to right, #3796f0, #50a4f3);
    color: var(--cWhite);
    border-radius: 16px; 
    padding: 6px 16px;
    font-size: 0.9rem;
    z-index: 99;
}

a {
    text-decoration: none;
}

.secondary-btn {
    color: var(--cWhite);
    border: 1px solid --cWhite;
    font-weight: 600;
    border-radius: 16px; 
    padding: 6px 16px;
    font-size: 0.8em;
}

.secondary-btn:hover {
    background-color: var(--cWhite);
    color: #080a0e;
    transition-duration: 1s;
    /* transition-property: background-color; */
}

body p {
    line-height: 25px;
}

.section1 {
    /* background: radial-gradient(#06070a, #03101a); */
    background: radial-gradient(circle farthest-corner at 70% 10%, #0c0f16 23%, #003c5f 50%) top right / 200% 200%;;
    color: var(--cWhite);
    font-weight: 500;
    padding-top: 80px;
    height: 80vh;
    overflow: hidden;
}

.section1:before {
        content: "";
        display: block;
        width: 44.8vw;
        height: 90vh;
        position: absolute;
        border: solid 1px white;
        border-radius: 500px;
        margin: auto;
        right: 0;
        left: 0;
        bottom: 60vh;
        opacity: 0.1;
        transform: scale(2.2);
        z-index: 0;
        pointer-events: none;
}

.box-s1 {
    margin: auto;
    margin-top: 60px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}   

.box-s1 > h1 {
    color: var(--cWhite);
    font-weight: bold;
    font-size: 42px;
}

.box-s1 > p {
    font-size: 20px;
}

.main-img > img {
    width: 70%;
    filter: blur(0.7px);
    margin-top: -70px;
    /* transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(15deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(150px) translateZ(0px) skewX(0deg) skewY(0deg); */
}

/* .secondary-imgs {
    z-index: 99999;

} */

.em-text {
    color: var(--primary);
    font-weight: 500;
    font-size: 1.2rem;
}

.section2 {
    background-color: var(--cWhite);
    color: var(--cBlack);
    padding: 80px 50px;
    width: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 15%;
}

.steps-list {
    background-color: red;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.steps-list > ol > li > a{
    color: black;
    height: 469px;
}

.box-s2 {
    width: 30%;
    height: fit-content;
}

.box-s2 > p {
    font-weight: 400;
}

.section3 {
    background-color: var(--cIceWhite);
    text-align: center;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.box-s3 {
    width: 100%;
}

.box-s3 > h1 {
    font-size: 2.5rem;
    color: var(--cBlack); 
    margin: 20px;
}

#integracoes {
    padding: 20px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;    
}

#integracoes > .card {
    background-color: var(--cWhite);    
    /* height: 25%; */
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 4px 40px #00000015;
    text-align: center;
    flex: 1 1 calc((100% - 4rem) / 3);
    box-sizing: border-box;
}

.card > img {
    max-width: 220px;
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.card > p {
    font-size: 0.9rem;
    margin: 10px;
}

.section4 {
    background: linear-gradient(180deg, rgba(12,11,23,1) 0%, rgba(9,37,74,1) 100%);
    padding: 80px 20px;
    color: var(--cWhite);
}

.box1-s4 {
    padding: 100px;
    border: solid 1px #ffffff20;
    border-radius: 30px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    height: 230px;
    justify-content: center;
    gap: 2rem;
}

.b1-p1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.b1-p2 {
    display: flex;
}

.b1-p2 > ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    font-size: 16px;
}

.box1-s4 > div > ul > li {
    list-style-type: "";
    display: flex;
    align-items: center;
    gap: 20px;
}

.box1-s4 > div > ul > li > img {
    width: 32px;
    height: 32px;
}

.box-title {
    padding: 80px;
    text-align: center;
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.box-title h1 {
    font-size: 40px;
}

.card-section4 {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 0 auto;
    padding: 20px;
}

.unit-card {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex: 1 1 calc((100% - 20px) / 3);
}

.card-section4 .unit-card img {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.card-info-title {
    font-weight: 700;
    margin-bottom: 8px;
}

.card-info {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.section5 {
    background-color: var(--cIceWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group-s5 {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
}

button {
    border: none;
    background-color: var(--cIceWhite);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 6px 12px;
    font-size: 14px;
    color: var(--cBlack);
}

button.active {
    border: 1px solid var(--cBlack);
    border-radius: 5px;
}

button:hover {
    background-color: var(--cWhite);
    border-radius: 5px;
    cursor: pointer;
}

.s5-img {
    width: 95%;
    margin: 20px;
}

.s5-img img {
    width: 100%;
}

.box-title-end {
    padding: 80px 20px 60px;
    text-align: start;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}

.box-title-end h1 {
    font-size: 40px;
}

.card-s5 {
    padding: 25px;
    width: 200px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    /* margin: 20px; */
}

.card-s5 a {
    color: var(--cBlack);
    font-weight: 600;
    font-size: 14px;
}

.card-group {
    border-right: 1px solid #c4c4c4;
    padding-right: 20px;
    margin: 20px;
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-s5:hover {
    border: 1px solid var(--secondary);
    cursor: pointer;
}